.personal-top{
	margin-top:30px;
	margin-left:20px;
	overflow: hidden;
}
.picture-container{
	float: left;
	margin-right: 80px;
	padding:10px;
	background-color:#f8f8f8;
}
.picture-box{
	margin-bottom: 10px;
	width: 136px;
	height: 136px;
	background-color:#fff;
}
.picture-box img{
	width: 100%;
	height: 100%;
}
.picture-btn{
    position: relative;
    width: 136px;
    height: 36px;
    line-height: 30px;
    text-align: center;
    color: #666;
    background-color: #fff;
    overflow: hidden;
    border:1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.picture-btn input{
	position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    filter: Alpha(opacity=0);
    background: none;
    cursor: inherit;
    display: block;
}
.personal-info{
	float: left;
}
.personal-info label{
	margin-right: 10px;
	display:inline-block;
	width: 100px;
	text-align: right;
	font-weight: normal;
}
.personal-info input{
	display:inline-block;
	width: 200px;
}
.two-items{
	padding: 20px 0 10px 0;
}
.two-items>div{
	display: inline-block;
	margin-right: 80px;
}
.checkbox span{
	margin-left:10px;
	margin-right: 20px;
}

.personal-history{
	margin-left:20px;
	padding:0;
	list-style: none;
}
.personal-history li{
	position: relative;
	padding-left: 100px;
	margin:40px 0;
}
.personal-history .date-time{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;	
}

@media only screen and (max-width: 768px) {
	.personal-top,
	.personal-history{
		margin-left:0;
	}
	.personal-info,
	.picture-container{
		float: none;
	}
	.picture-container{
		margin: 0;
	}
	.picture-box,.picture-btn{
		margin:0 auto;
	}
	.two-items{
		padding:0;
	}
	.two-items>div{
		margin-right: 0;
		display: block;
	}
	.personal-info label{
		display: block;
		text-align: left;
		margin: 10px 0;
		padding: 0;
	}
	.personal-info input{
		width: 100%;
	}
}