.container-fluid{
	position: relative;
	padding-left: 240px;
}
.left-container{
	position: absolute;
	left: 20px;
	top:20px;
	width:200px ;
	height: 500px;
	overflow-y:auto;
	border:1px solid #ddd;
}
.search-box{
	position: relative;
	width: 100%;
	height: 40px;
}
.search-box label{
	position: absolute;
	right: 6px;
	top: 6px;
}
.search-box input{
	padding-left: 20px;
	padding-right: 40px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border:none;
	box-sizing: border-box;
}
.fa-search:before{
	color:#21BAA8;
}
.left-container ul{
	padding:0;
	list-style: none;
}
.left-container ul li{
	line-height: 40px;
	text-indent: 34px;
	cursor: pointer;
}
.left-container ul a{
	position: relative;
	display: block;
	width: 100%;
	color:#333;
	text-decoration: none;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.left-container .ul-title{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
	font-size: 16px;
	color: #21BAA8;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	background-color: #E8F8F7;
}
.left-container .ul-title:after{
	content: "\e259";
    position: absolute;
    top: 0px;
    right: 20px;
    color: #21BAA8;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-title{
	position: relative;
	display: block;
}
.left-container .sub-title.active:before{
	content: "\e259";
    position: absolute;
    top: 0px;
    left: -15px;
    color: #333;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-title:before{
	content: "\e258";
    position: absolute;
    top: 0px;
    left: -15px;
    color: #333;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-ul{
	display: none;
}
.left-container .sub-ul a{
	padding-left:15px;
}
.left-container ul a:hover,
.left-container ul a.active{
	background-color: #f9f9f9;
}


.chat-container{
	margin-top:20px;
	max-width: 500px;
	border: 1px solid #ddd;
}
.chat-container h3{
	margin: 0;
	padding:15px;
	font-size: 16px;
	font-weight: bold;
}
.chat-content{
	padding:20px;
	height: 316px;
	line-height: 24px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	overflow-y:auto ;
}

.chat-content .other{
	color:#6699FF;
}

.chat-content .mine{
	color:#21BAA8;
}

.chat-content .txt{
	margin-bottom: 15px;
}
.chat-input{
	padding: 10px;
	text-align: right;
}
.chat-input textarea{
	width: 100%;
	line-height: 24px;
	border: none;
	resize:none;
	outline:none;
}

@media only screen and (max-width: 768px) {
	.container-fluid{
		position: relative;
		padding-left: 15px;
	}
	.left-container{
		position: static;
		width:100% ;
		margin-top:15px;
		height: auto;
		border:1px solid #ddd;
	}
	.left-container .ul-title{
		height: 44px;
		line-height: 44px;
	}
}