.calendar{
	margin-top:15px;
	width: 100%;
	height: 290px;
}
.layui-laydate-static,
.layui-laydate-static .layui-laydate-main,
.layui-laydate-content table{
	width:100%;
}

/*.layui-laydate.layui-laydate-static{
	border:none;
}*/

.layui-laydate.layui-laydate-static .layui-this {
    background-color: #21BAA8!important;
}
.layui-laydate-footer{
	display: none;
}

.btn{
	margin: 10px 0;
}
.course-table{
	border:1px solid #ccc;
}
.course-table th{
	background-color:#f5f5f5;
}
.course-table a{
	color: #21BAA8;
}

@media only screen and (max-width: 768px){
	
}