.container-fluid{
	position: relative;
	padding-left: 240px;
}
.left-container{
	position: absolute;
	left: 20px;
	top:20px;
	width:200px ;
	height: 500px;
	overflow-y:auto;
	border:1px solid #e9e9e9;
}
.left-container ul{
	padding:0;
	list-style: none;
}
.left-container ul li{
	line-height: 40px;
	text-indent: 20px;
	cursor: pointer;
}
.left-container ul a{
	position: relative;
	display: block;
	width: 100%;
	color:#333;
	text-decoration: none;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.left-container ul a i{
	position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../images/icon_delete.png) center center no-repeat;
    background-size: 18px 18px;
}
.left-container .ul-title{
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	text-indent: 20px;
	font-size: 16px;
	color: #21BAA8;
	border-bottom: 1px solid #e9e9e9;
	background-color: #E8F8F7;
}
.left-container .ul-title:after{
	content: "\e259";
    position: absolute;
    top: 0px;
    right: 20px;
    color: #21BAA8;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-title{
	position: relative;
	display: block;
}
.left-container .sub-title.active:before{
	content: "\e259";
    position: absolute;
    top: 0px;
    left: -15px;
    color: #333;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-title:before{
	content: "\e258";
    position: absolute;
    top: 0px;
    left: -15px;
    color: #333;
    font-size: 12px;
    font-family: 'Glyphicons Halflings';
}
.left-container .sub-ul{
	display: none;
}
.left-container .sub-ul a{
	padding-left:15px;
}
.left-container ul a:hover,
.left-container ul a.active{
	background-color: #f9f9f9;
}

.right-container .right-title{
	padding-top:20px;
	font-size: 16px;
	font-weight: bold;
}
.right-container .only-btn{
	margin-top:20px;
}
@media only screen and (max-width: 768px) {
	.container-fluid{
		position: relative;
		padding-left: 15px;
	}
	.left-container{
		position: static;
		width:100% ;
		margin-top:15px;
		height: auto;
		border:1px solid #e9e9e9;
	}
	.left-container .ul-title{
		height: 44px;
		line-height: 44px;
	}
}